#accountBox {
        padding-top: var(--main-top-padding) ;
        padding-bottom: 20vh;
        min-height: 100vh;
        width: 100%;
        box-sizing: border-box;
}
/* .a_container{
    background-color: rgb(0,0,0,0.8);
} */
.a_con_section {
    width: 100%;
}
.a_container {
    background-color: rgb(0,0,0,0.4);
    box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    
}
.a_profile {
    width: 70%;
    margin: auto;
    /* border-bottom: 1px solid rgb(255,210,11); */
    display: flex;
    justify-content: center;
    color: #e0e0e0;
    padding: 2rem 0 4rem;
    box-sizing: border-box;
    position: relative;
}
.a_p_content {
    display: flex;
    width: 60%;
}
.a_p_btn_edit {
    font-size: 0px;
    display: block;
    width: 1.5rem;
    aspect-ratio: 1/1;
    background: url('../../assets/img/pencil.svg') no-repeat center/contain;
    filter: invert(100%);
}
.a_p_btn_edit:hover {
    opacity: 0.8;
    border-bottom: 1px solid rgb(0,0,0);
}
.a_p_btn_follow {
    display: block;
    font-size: 100%;
    padding: 0.5em 1em;
    background-color: white;
    color: #a60a27;
    border-radius: 1em;
    word-break: keep-all;
}
.a_p_btn_cancel {
    display: block;
    font-size: 100%;
    padding: 0.5em 1em;
    background-color: rgb(0,0,0,0.5);
    color: white;
    border-radius: 1em;
    word-break: keep-all;

}
.a_p_c_image {
    width: max(100px, 6vw);
    height: max(100px, 6vw);
    aspect-ratio: 1/1;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
}
.a_p_c_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.a_p_c_text {
    display: block;
    padding-left: 2rem;
}
.a_p_c_n_name {
    font-size: 120%;
    margin-right: 3rem;
}
.a_p_c_name {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.a_p_c_n_id {
    font-size: 80%;
    filter: brightness(80%);
}
.a_p_c_follow {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}
.a_p_c_follow > div > span:first-child {
    font-weight: 600;
    padding-right: 1rem;
}

/* 2.playlist------------------------------------------------ */
.a_line {
    width: 50%;
    margin: auto;
    height: 1px;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background: linear-gradient(to left, transparent,rgba(255, 255, 255, 0.4) 5% 95%,transparent);
}
.a_pl_section {
    width: 100%;
}
.a_playlist {
    width: 70%;
    margin:auto;
    padding: 3rem 0 2rem;
    /* background-color: rgb(0,0,0,0.4);
    border-radius: 1rem; */
}
.a_pl_title{
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    display: flex;
    /* justify-content: space-between; */
    justify-content: end;
    align-items: center;
    color: white;
}
.a_pl_title h3{
    display: none;
    font-size: 150%;
    font-family: 'NanumSquareNeoBold';
}

.a_playlistWrap {
    position: relative;
    box-sizing: border-box;
}
.a_pl_nolist {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255,0.8);

}
.a_playlistWrap > ul {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.a_pl_list_new a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* color: black; */
    transition: .3s ease;
    color: white;
    border-bottom: 1px solid;
    border-bottom-color: transparent;
    padding-bottom: 0.2em;
}
.a_pl_btns a:hover {
    border-bottom: 1px solid white;
}
.a_pl_btns {
    /* border: 2px dashed #333; */
    /* box-sizing: border-box; */
    /* background-color: white; */
    font-size: 100%;
}
.a_pl_listWrap {
    /* margin: 1rem; */
    transition: .2s ease;
    /* padding-bottom: 2rem; */
    position: relative;
    /* border-radius: 1rem;
    overflow: hidden; */
}

/* ========================================================= */
.a_pl_makeList {
    padding: 1rem;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9200;
    background-color: rgb(255,255,255,0.4);
    backdrop-filter: blur(2px);
}
.a_pl_makeList form {
    width: 50%;
    height: 50%;
    background-color: rgb(255,210,11,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
}
.a_pl_m_cover {
    background-color: #eee;
    border-radius: 2rem;
    overflow: hidden;
    aspect-ratio: 1/1;
    height: 80%;
    box-shadow: 1px 2px 5px 0px #bbb;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a_pl_m_textWrap {
    width: 50%;
    background-color: white;
    height: 80%;
    border-radius: 2rem;
    padding: 3rem 0;
    box-sizing: border-box;
    box-shadow: 1px 2px 5px 0px #bbb;
    position: relative;
}
.a_pl_m_c_image {
    display: block;
}
.a_pl_m_text input,
.a_pl_m_tag input {
    border: 0;
    font-size: 90%;
    padding: 0.3em 2em 0.3em 1em;
    transition: .3s ease;
    outline: none;
    margin: 0;
    overflow: hidden;
}
.a_pl_m_text input {
    height: 2rem;
    border: 1px solid white;
    background-color: #e0e0e0;
    border-radius: 1rem;
    width: 70%;
}
.a_pl_m_tag input {
    background-color: #e0e0e0;
}
.a_pl_m_text input:focus{
    background-color: rgba(166, 10, 39, 0.3);
}
.a_pl_m_tag {
    padding: 2rem;
    width: 70%;
    margin: auto;
}
.a_pl_m_tag > p {
    text-align: start;
    padding-bottom: 0.2rem;
}
.a_pl_m_tag input:focus {
    background-color: rgba(255,255,255,0.4);
}
.a_pl_m_tag_inputwrap {
    background-color: rgba(166, 10, 39, 0.3);
    border-radius: 0.5em;
    position: relative;
    width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.a_pl_m_tag_inputwrap a {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0px;
    box-sizing:border-box;
    display: inline-block;
    height: 100%;
    aspect-ratio: 1/1;
    background: url('../../assets/img/plus.png') no-repeat center / contain;
}
.a_pl_m_tag li a {
    position: absolute;
    top: 0;
    right: 0;
    display: inline;
    height: 100%;
    aspect-ratio: 1/1;
    text-decoration: none;
    background: url('../../assets/img/close_button.png') no-repeat center / 50%;
}
.a_pl_m_tag ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.a_pl_m_tag li {
    position: relative;
    padding-right: 2em;
}
.a_pl_m_cover_before {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}
.a_pl_m_cover_before:hover {
    background-color:#a60a2748;
}
#a_pl_m_coverInput {
    display: none;
}
.a_pl_m_cover_before p {
    text-align: start;
    font-size: 80%;
    color: #333;
    padding: 5%;
    box-sizing: border-box;
}
.a_playerWrap {
    display: flex;
}
.a_pr_playPart {
    width: 50%;
}
.a_pr_textPart {
    width: 50%;
}
.a_pl_m_btn {
    position: absolute;
    bottom: 2rem;
    left: 0;
    width: 100%;
}
.a_pl_m_btn button {
    border: 0;
    font-size: 100%;
    padding: 0.5em 3em 0.5em 1em;
    float: right;
    margin-right: 2rem;
    background: transparent url('../../assets/img/chevron-double-right.svg') no-repeat center right 1em / 20%;
    border-radius: 1rem;
    transition: 3.s ease;
}
.a_pl_m_btn_submit:hover {
    background-color: #e0e0e0;
}
.a_pl_m_cancel {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 3rem;
    aspect-ratio: 1/1;
    font-size: 0;
    border: 0;
    border-radius: 50%;
    background: url('../../assets/img/arrow_back_3.png') no-repeat center / 100% 70%;
}
/* =================//////////////////////////////////=============================== */
@media screen and (max-width:1023px){
    #accountBox {
    padding-top: var(--main-top-padding) ;
    min-height: 100vh;
    box-sizing: border-box;
    }
    .a_container{
        background-color: rgb(0,0,0,0.8);
    }
    .a_con_section {
        width: 100%;
    }
    .a_profile {
        border-bottom: 1px solid rgb(255,210,11);
        display: flex;
        width: 100%;
        /* max-width: 1280px; */
        margin: auto;
        /* background-color: var(--main-color1); */
        color: #e0e0e0;
        /* border-radius: 1rem; */
        padding: 3% 5%;
        box-sizing: border-box;
        position: relative;
    }
    .a_p_content {
        display: flex;
        align-items: start;
        width: 100%;
    }
    .a_p_btns {
        position: absolute;
        top: 2rem;
        right: 5%;
    }
    .a_p_btn_edit {
        font-size: 0px;
        display: block;
        width: 1.5rem;
        aspect-ratio: 1/1;
        background: url('../../assets/img/pencil.svg') no-repeat center/contain;
        filter: invert(100%);
    }
    .a_p_btn_edit:hover {
        opacity: 0.8;
        border-bottom: 1px solid rgb(0,0,0);
    }
    .a_p_btn_follow {
        display: block;
        font-size: 100%;
        padding: 0.5em 1em;
        border: 1px solid #a60a27;
        background-color: white;
        border-radius: 1em;
        word-break: keep-all;
    }
    .a_p_c_image {
        width: max(100px, 10vw);
        height: max(100px, 10vw);
        aspect-ratio: auto;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        overflow: hidden;
    }
    .a_p_c_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
    .a_p_c_text {
        display: block;
        padding-left: 2rem;
    }
    .a_p_c_n_name {
        font-size: 150%;
        margin-right: 3rem;
    }
    .a_p_c_name {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
    }
    .a_p_c_n_id {
        font-size: 100%;
    }
    .a_p_c_follow {
        display: flex;
        gap: 2rem;
        padding: 3rem 0;
    }
    .a_p_c_follow > div > span:first-child {
        font-weight: 600;
        padding-right: 1rem;
    }

    /* 2.playlist------------------------------------------------ */
    .a_playlist {
        width: 100%;
        margin: auto;
        padding-top: 5%;
    }
    .a_pl_title{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    .a_pl_title h3{
        font-size: 150%;
        font-family: 'NanumSquareNeoBold';

    }

    .a_playlistWrap {
        position: relative;
        /* background-color: rgba(255, 255, 255, 0.63); */
        background-color: black;
        padding: 1rem;
        box-sizing: border-box;
    }
    .a_pl_nolist {
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .a_playlistWrap > ul {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .a_pl_list {
        height: 100%;
        width: calc(100% / 4);
        box-sizing: border-box;
        min-height: 40vh;
        /* 1023px */
        padding: 0 0.5em;
        box-sizing: border-box;    
    }
    .a_pl_list_new a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        /* color: black; */
        transition: .3s ease;
        color: white;
        padding: 0.3em 1em;
    }
    .a_pl_btns a:hover {
        background-color: white;
        color: #666;
        border-radius: 1em;
    }
    .a_pl_btns {
        /* border: 2px dashed #333; */
        /* box-sizing: border-box; */
        /* background-color: white; */
        font-size: 100%;
    }
    .a_pl_listWrap {
        /* margin: 1rem; */
        transition: .2s ease;
        /* padding-bottom: 2rem; */
        position: relative;
        /* border-radius: 1rem;
        overflow: hidden; */
    }
    .a_pl_listWrap:hover{
        transform: scale(1.02,1.02);
    }
    .a_pl_l_cover {
        aspect-ratio: 1/1;
        height: 50%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        /* border-radius: 2rem; */

        background-color: white;
    }
    .a_pl_l_cover button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 0px;
        width: 20%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: none;
        /* opacity: 0.6; */
        background: #ddd url('../../assets/img/play.svg') no-repeat center / 80%;

    }
    .a_pl_l_cover img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;
    }
    .a_pl_l_content {
        padding: 1rem;
        box-sizing: border-box;
    }
    .a_pl_l_text {
        display: flex;
        justify-content: space-between;
        /* color: #666; */
        color: #e0e0e0;
        font-size: 90%;
        /* padding: 1rem 2rem; */
    }
    .a_pl_l_title{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(0,0,0,0.7);
    }
    .a_pl_l_title > div{
        display: flex;
        justify-content: space-between;
        font-size: 100%;
        color: white;
        max-height: 2.5em;
        padding: 0.4em;
        box-sizing: border-box;
    }
    .a_pl_l_title  p {
        font-size: 120%;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .a_pl_l_tag ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem 0.5rem 0;
    }
    .a_pl_m_tag li,
    .a_pl_l_tag li {
        /* background-color: rgba(35,26,144,0.3); */
        background-color: rgba(166, 10, 39, 0.7);
        padding: 0.2em 0.5em;
        border-radius: 0.5em;
        color: #e0e0e0;
        /* color: #333; */
    }
    /* .a_pl_list_new.activated {
        width: 100%;
        padding: 1rem;
    } */
    /* ========================================================= */
    .a_pl_makeList {
        padding: 1rem;
        box-sizing: border-box;

        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9200;
        background-color: rgb(255,255,255,0.4);
        backdrop-filter: blur(2px);
    }
    .a_pl_makeList form {
        width: 50%;
        height: 50%;
        background-color: rgb(255,210,11,0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        border-radius: 1rem;
        padding: 1rem;
        box-sizing: border-box;
        position: relative;
    }
    .a_pl_m_cover {
        background-color: #eee;
        border-radius: 2rem;
        overflow: hidden;
        aspect-ratio: 1/1;
        height: 80%;
        box-shadow: 1px 2px 5px 0px #bbb;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .a_pl_m_textWrap {
        width: 50%;
        background-color: white;
        height: 80%;
        border-radius: 2rem;
        padding: 3rem 0;
        box-sizing: border-box;
        box-shadow: 1px 2px 5px 0px #bbb;
        position: relative;
    }
    .a_pl_m_c_image {
        display: block;
    }
    .a_pl_m_text input,
    .a_pl_m_tag input {
        border: 0;
        font-size: 90%;
        padding: 0.3em 2em 0.3em 1em;
        transition: .3s ease;
        outline: none;
        margin: 0;
        overflow: hidden;
    }
    .a_pl_m_text input {
        height: 2rem;
        border: 1px solid white;
        background-color: #e0e0e0;
        border-radius: 1rem;
        width: 70%;
    }
    .a_pl_m_tag input {
        background-color: #e0e0e0;
    }
    .a_pl_m_text input:focus{
        background-color: rgba(166, 10, 39, 0.3);
    }
    .a_pl_m_tag {
        padding: 2rem;
        width: 70%;
        margin: auto;
    }
    .a_pl_m_tag > p {
        text-align: start;
        padding-bottom: 0.2rem;
    }
    .a_pl_m_tag input:focus {
        background-color: rgba(255,255,255,0.4);
    }
    .a_pl_m_tag_inputwrap {
        background-color: rgba(166, 10, 39, 0.3);
        border-radius: 0.5em;
        position: relative;
        width: fit-content;
        overflow: hidden;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    .a_pl_m_tag_inputwrap a {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0px;
        box-sizing:border-box;
        display: inline-block;
        height: 100%;
        aspect-ratio: 1/1;
        background: url('../../assets/img/plus.png') no-repeat center / contain;
    }
    .a_pl_m_tag li a {
        position: absolute;
        top: 0;
        right: 0;
        display: inline;
        height: 100%;
        aspect-ratio: 1/1;
        text-decoration: none;
        background: url('../../assets/img/close_button.png') no-repeat center / 50%;
    }
    .a_pl_m_tag ul {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .a_pl_m_tag li {
        position: relative;
        padding-right: 2em;
    }
    .a_pl_m_cover_before {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .5s ease;
    }
    .a_pl_m_cover_before:hover {
        background-color:#a60a2748;
    }
    #a_pl_m_coverInput {
        display: none;
    }
    .a_pl_m_cover_before p {
        text-align: start;
        font-size: 80%;
        color: #333;
        padding: 5%;
        box-sizing: border-box;
    }
    .a_playerWrap {
        display: flex;
    }
    .a_pr_playPart {
        width: 50%;
    }
    .a_pr_textPart {
        width: 50%;
    }
    .a_pl_m_btn {
        position: absolute;
        bottom: 2rem;
        left: 0;
        width: 100%;
    }
    .a_pl_m_btn button {
        border: 0;
        font-size: 100%;
        padding: 0.5em 3em 0.5em 1em;
        float: right;
        margin-right: 2rem;
        background: transparent url('../../assets/img/chevron-double-right.svg') no-repeat center right 1em / 20%;
        border-radius: 1rem;
        transition: 3.s ease;
    }
    .a_pl_m_btn_submit:hover {
        background-color: #e0e0e0;
    }
    .a_pl_m_cancel {
        position: absolute;
        top: 0.5rem;
        left: 1rem;
        width: 3rem;
        aspect-ratio: 1/1;
        font-size: 0;
        border: 0;
        border-radius: 50%;
        background: url('../../assets/img/arrow_back_3.png') no-repeat center / 100% 70%;
    }
}
/* =============//;/////////////////////////======================== */
@media screen and (max-width: 767px){
    #accountBox {
        padding-top: var(--main-top-padding) ;
        min-height: 100vh;
        box-sizing: border-box;
    }
    .a_p_content {
        display: block;
        align-items: start;
        width: 100%;
        /* 767px */
        min-width: 5rem;
        padding-top: 1rem;
    }
    .a_p_c_text {
        display: block;
        padding-left: 2rem;
    }
    .a_p_c_n_name {
        font-size: 120%;
        margin-right: 3rem;
        /* 767px */
        text-align: start;
    }
    .a_p_c_image {
        width: max(100px, 10vw);
        height: max(100px, 10vw);
        aspect-ratio: auto;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        overflow: hidden;
        /* 767px */
        float: left;
        margin-right: 1rem;
    }
    /* ----------------- */
    .a_playlist {
        width: 100%;
        margin: auto;
        padding-top: 0;
    }
    .a_pl_title{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        /* 767px */
        background-color: var(--main-color1);
        padding: 5% 5% 1rem;
    }
    .a_playlistWrap > ul {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap:nowrap;
        /* 767px */
        flex-direction: column;
    }
    .a_pl_list {
        height: auto;
        width: 100%;
        box-sizing: border-box;
        min-height: 0;
        /* 1023px */
        padding: 0.5em 0 1em;
        border-bottom: 1px solid white;
    }
    .a_pl_listWrap {
        transition: .2s ease;
        position: relative;
        /* 767px */
    }
    .a_pl_listWrap:hover{
        transform:none;
    }
    .a_pl_l_cover {
        aspect-ratio: 1/1;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        background-color: white;
        /* 767px */
        float: left;
        width: 30%;
    }
    .a_pl_l_cover button {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 0px;
        width: 100%;
        aspect-ratio: auto;
        border-radius: 0;
        border: none;
        background: none;
        /* 767px */
        height: 100%;
    }
    .a_pl_l_title{
        position: static;
        top: auto;
        left: auto;
        width: 100%;
        background-color: rgb(0,0,0,0.7);
        /* 767px */
    }
    .a_pl_l_content {
        padding: 0;
        box-sizing: border-box;
    }
    .a_pl_l_text {
        display: flex;
        justify-content: space-between;
        color: #e0e0e0;
        font-size: 90%;
        /* 767px */
        padding: 1em 5%;
    }
    .a_pl_l_tag{
        float: left;
    }
}
