@font-face {
    font-family: 'Noto Sans KR';
    src: url('/font/Noto_Sans_KR/NotoSansKR-Black.otf');
    font-weight: 900;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('/font/Noto_Sans_KR/NotoSansKR-Bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('/font/Noto_Sans_KR/NotoSansKR-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('/font/Noto_Sans_KR/NotoSansKR-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('/font/Noto_Sans_KR/NotoSansKR-Regular.otf');
    font-weight: 400;
}
@font-face {
    font-family: 'Noto Sans KR';
    src: url('/font/Noto_Sans_KR/NotoSansKR-Thin.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'Oswald';
    src: url('/font/Oswald/static/Oswald-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Oswald';
    src: url('/font/Oswald/static/Oswald-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Oswald';
    src: url('/font/Oswald/static/Oswald-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Oswald';
    src: url('/font/Oswald/static/Oswald-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Oswald';
    src: url('/font/Oswald/static/Oswald-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Oswald';
    src: url('/font/Oswald/static/Oswald-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/static/Inter-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/static/Inter-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/static/Inter-ExtraBold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/static/Inter-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/static/Inter-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/static/Inter-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/static/Inter-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/static/Inter-ExtraLight.ttf');
    font-weight: 200;
}
@font-face {
    font-family: 'Inter';
    src: url('/font/Inter/static/Inter-Thin.ttf');
    font-weight: 100;
}
@font-face{
    font-family: 'Orbit';
    src: url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
    font-weight: 400;
}

body {
    font-family: 'NanumBarunGothic','Orbit', 'Inter', 'Oswald', 'Sans serif';
    font-weight: normal;
    font-size: max(12px, 0.8vw);
}

/* 
font-family: 'NanumBarunGothicExtraLight';
font-family: 'NanumBarunGothicLight';
font-family: 'NanumBarunGothic';
font-family: 'NanumBarunGothicBold';

font-family: 'NanumSquareNeoLight';
font-family: 'NanumSquareNeo';
font-family: 'NanumSquareNeoBold';
font-family: 'NanumSquareNeoExtraBold';
font-family: 'NanumSquareNeoHeavy';
*/